<div>
   
    <form class="form-horizontal">

        <div class="form-group">
            <span class="col-sm-2 control-label">Name</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.Text">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">Key</span>
            <div class="col-sm-10">
                <input class="form-control" ng-readonly="true" type="text" ng-model="currentMenu.Name">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">Icon</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.Icon">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">Href</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.Href">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">Param</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.Param">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">Permission</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.PermissionKey">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">IndexValue</span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text" ng-model="currentMenu.IndexValue">
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-2 control-label"></span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="checkbox" icheck ng-model="currentMenu.Mega">Mega
                <input class="form-control form-white" type="checkbox" icheck ng-model="currentMenu.Dropdown">Dropdown
            </div>
        </div>

    </form>
</div>
