<dhx-layout dhx-layout-code="2U" dhx-when-done="loaded">

    <dhx-layout-cell dhx-hide-header="true">
        <!--<dhx-toolbar dhx-items="toolbarItems">
        </dhx-toolbar>-->
        <dhx-menu dhx-xml-json-data="toolbarItems" dhx-on-click="menuAction">
        </dhx-menu>
        <page-container view="page.view"
                        controller-url="page.controllerUrl"
                        controller="page.controller"
                        resolve="page.resolve">

        </page-container>
    </dhx-layout-cell>
    <dhx-layout-cell dhx-width="380" dhx-text="通讯录、新闻动态、生产任务、关注工程">
        <dhx-tabbar>
            <dhx-tabbar-cell dhx-text="
                <i class='fa fa-file-text'></i> 通讯录" dhx-selected="'true'">
                <dhx-tree dhx-tree="dhxTree"
                          dhx-enable-tree-images="true"
                          dhx-enable-highlighting="true"
                          dhx-json-data="users"
                          dhx-handlers="treeHandlers">
                </dhx-tree>
            </dhx-tabbar-cell>
            <dhx-tabbar-cell dhx-text="
                <i class='fa fa-list'></i> 新闻动态" >
                <div ng-repeat="new in news track by $index" class="home-news">
                    <a class="ntitle" href="#" ng-click="openNews(new)">{{new.title}}</a>
                    <p class="ncontent">{{new.content}}</p>
                    <span class="ndate">{{new.date}}</span>
                </div>
            </dhx-tabbar-cell>
           
            <dhx-tabbar-cell dhx-text="
                <i class='fa fa-heart'></i> 关注工程">
                关注工程
            </dhx-tabbar-cell>

        </dhx-tabbar>

    </dhx-layout-cell>
</dhx-layout>