
<dhx-layout dhx-layout-code="2U" >

    <dhx-layout-cell dhx-hide-header="true">
        <dhx-toolbar dhx-items="toolbarItems">
        </dhx-toolbar>
        aa
    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="新闻动态"
                     dhx-width="300">
        <p>
            新闻1
        </p>
        <p>
            新闻1
        </p>
        <p>
            新闻1
        </p>
        <p>
            新闻1
        <p>
            新闻1
        </p>
        <p>
            新闻1
        </p>
        </p>
    </dhx-layout-cell>
</dhx-layout>