<dhx-layout dhx-layout-code="3W" dhx-win="$win">
    <dhx-layout-cell dhx-text="控件"
                     dhx-width="200">
       
    </dhx-layout-cell>
    <dhx-layout-cell dhx-hide-header="true">
        <dhx-tabbar>
            <dhx-tabbar-cell dhx-text="<i class='fa fa-file-text'></i> 预览" dhx-selected="'true'">
                <dhx-form form-data="formData">

                </dhx-form>
            </dhx-tabbar-cell>
            <dhx-tabbar-cell dhx-text="<i class='fa fa-list'></i> 数据">
                 <textarea rows="100" ng-model="formDataJson" style="width:100%;">
    
                </textarea>
            </dhx-tabbar-cell>

        </dhx-tabbar>

    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="属性" dhx-width="200">


    </dhx-layout-cell>
</dhx-layout>