<dhx-window dhx-text="Some other window"
            dhx-height="500"
            dhx-width="800"
            dhx-show-inner-scroll="true"
            dhx-btn-stick="true"
            dhx-append-layout="3U">

    <dhx-win-layout-cell dhx-text="dasdaf">
        test1
    </dhx-win-layout-cell>
    <dhx-win-layout-cell dhx-text="VXCVXCV">
        <dhx-grid dhx-obj="grid.obj"
                  dhx-url="user"
                  dhx-params="form"
                  dhx-col-sorting="'ro,ro,ed,ro'"
                  dhx-header="'编号,姓名,账号,头像'"
                  dhx-fields="ID|ID,Name,Account,PhotoImg">

        </dhx-grid>
    </dhx-win-layout-cell>
    <dhx-win-layout-cell dhx-text="YUTYIH">
        test3
    </dhx-win-layout-cell>
</dhx-window>