<dhx-layout dhx-layout-code="3L" dhx-when-done="loaded">
    <dhx-layout-cell dhx-text="字典分类"
                     dhx-status="'共3个数据'"
                     dhx-width="300"
                     dhx-collapsed-text="字典分类">

        <dhx-toolbar dhx-name="data_tools" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-tree dhx-tree="dhxTree"
                  dhx-enable-tree-images="true"
                  dhx-enable-highlighting="true"
                  dhx-json-data="treeData"
                  dhx-handlers="treeHandlers"
                  dhx-context-menu-id="menuId"
                  dhx-context-menu-name="context"
                  dhx-context-menu-action="treeContextAction">
        </dhx-tree>

    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="字典数据">

        <dhx-toolbar dhx-name="item_tools" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-grid dhx-obj="grid.obj"
                  dhx-data="enumItems"
                  dhx-processor-url="enumitem"
                  dhx-col-types="'ro,ed,edn'"
                  dhx-header="'Key,Value,Order'"
                  dhx-fields="Key|Key,Text,Value"
                  dhx-handlers="grid.handlers">
        </dhx-grid>


    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="字典属性">
        <dhx-toolbar dhx-name="attr_tools" dhx-menu="menuId">
        </dhx-toolbar>
        
        <dhx-grid dhx-obj="grid2.obj"
                  dhx-data="enumItemAttrs"
                  dhx-col-types="'ed,ed'"
                  dhx-header="'Key,Value'"
                  dhx-fields="Key|Key,Value"
                  dhx-handlers="grid2.handlers">

        </dhx-grid>
    </dhx-layout-cell>
</dhx-layout>
