<div dhtmlxtoolbar="toolbar"
     iconspath='assets/img/btn/'
     items='[
         { id: "new", type: "button", img: "new.gif", text: "新增", title: "Tooltip here", action: "addClick"},
         { id: "edit", type: "button", img: "edit.gif", text: "修改", action: "test"},
         { type: "separator" },
         { id: "reset", type: "button", img: "undo.gif", text: "重置密码", action: "resetPsw"},
         { type: "separator" },
         { id: "del", type: "button", img: "cross.png", imgdis:"cross.png", text: "删除", action: "test", enabled: false},
         { type: "separator" },
         { id: "query", type: "button", img: "page.gif", text: "查询", action: "query"},]'></div>

<div dhtmlxlayout="mylayout" pattern="2U" style="width:100%; height:500px;">
    
</div>

<div id="cell1">
    aaa{{1+1}}
</div>
<div id="cell2">
    bbb{{2+2}}
</div>