<dhx-layout dhx-layout-code="2U" dhx-when-done="loaded">
    <dhx-layout-cell dhx-text="组织架构"
                     
                     dhx-width="300"
                     dhx-cell="cell1"
                     dhx-collapsed-text="组织架构">

        <dhx-toolbar dhx-name="tree" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-tree dhx-tree="dhxTree"
                  dhx-enable-tree-images="true"
                  dhx-enable-highlighting="true"
                  dhx-enable-item-editor="true"
                  dhx-processor-url="v2/department"
                  dhx-after-update="afterUpdate(data)"
                  dhx-json-data="treeData"
                  dhx-on-data-loaded="treeDataLoaded"
                  dhx-handlers="treeHandlers"
                  dhx-context-menu-id="menuId"
                  dhx-context-menu-name="contextmenu_tree"
                  dhx-context-menu-action="treeContextAction">

        </dhx-tree>

    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="用户列表" dhx-wins="true">

        <dhx-toolbar dhx-name="tools" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-grid dhx-obj="grid.obj"
                  dhx-columns="grid.columns"
                  dhx-handlers="grid.handlers"
                  dhx-rowid="grid.rowid"
                  dhx-url="user"
                  dhx-processor-url="v1/user"
                  dhx-params="filter"
                  dhx-context-menu-id="menuId"
                  dhx-context-menu-name="contextmenu_grid"
                  dhx-context-menu-action="gridContextAction"
                  dhx-paging="true">

        </dhx-grid>


        <dhx-window dhx-win-option="win"
                    ng-repeat="win in pageWins">
        </dhx-window>

    </dhx-layout-cell>
</dhx-layout>
