<dhx-layout dhx-layout-code="2U" dhx-when-done="loaded">
    <dhx-layout-cell dhx-text="组织架构"
                     dhx-status="'共3个部门'"
                     dhx-width="300"
                     dhx-cell="cell1"
                     dhx-collapsed-text="组织架构">

        <dhx-toolbar dhx-name="tree" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-tree dhx-tree="dhxTree"
                  dhx-enable-tree-images="true"
                  dhx-enable-highlighting="true"
                  dhx-enable-item-editor="true"
                  dhx-processor-url="department"
                  dhx-json-data="treeData"
                  dhx-on-data-loaded="treeDataLoaded"
                  dhx-handlers="treeHandlers"
                  dhx-context-menu-id="menuId"
                  dhx-context-menu-name="contextmenu_tree"
                  dhx-context-menu-action="treeContextAction"></dhx-tree>

    </dhx-layout-cell>
    <dhx-layout-cell dhx-text="员工列表" dhx-wins="true">

        <dhx-toolbar dhx-name="tools" dhx-menu="menuId">
        </dhx-toolbar>

        <dhx-grid dhx-obj="grid.obj"
                  dhx-url="user"
                  dhx-params="form"
                  dhx-col-sorting="'ro,ro,ed,ro'"
                  dhx-header="'编号,姓名,账号,头像'"
                  dhx-fields="ID|ID,Name,Account,PhotoImg"
                  dhx-context-menu-id="menuId"
                  dhx-context-menu-name="contextmenu_grid"
                  dhx-context-menu-action="gridContextAction"
                  dhx-handlers="grid.handlers"
                  dhx-paging="true">

        </dhx-grid>


        <dhx-window dhx-win-option="win"
                    ng-repeat="win in pageWins">
        </dhx-window>

    </dhx-layout-cell>
</dhx-layout>
