<dhx-toolbar dhx-items="toolMenus">
</dhx-toolbar>

<form style="padding: 0 15px; height: calc(100% - 32px); overflow-y:auto;  ">
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                名称
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="$params.rowid">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                账号
            </div>
            <div class="col-xs-8 control-value">
                <input type="text" id="InputText" placeholder="" class="form-control input-sm" ng-model="form.tenant_id">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pln prn">
            <div class="col-xs-4 control-label">
                性别
            </div>
            <div class="col-xs-8 control-value">
                <div class="checkbox-custom checkbox-primary" style="height:28px;">
                    <input type="checkbox" ng-model="form.is_enabled" ng-true-value="1" ng-false-value="0" id="tenant_chk_01">
                    <label style="top:-4px;" for="tenant_chk_01">男</label>
                    <input type="checkbox" ng-model="form.is_enabled" ng-true-value="2" ng-false-value="0" id="tenant_chk_02">
                    <label style="top:-4px;" for="tenant_chk_02">女</label>
                </div>
            </div>
        </div>
    </div>
</form>